.env*
.DS_Store

.vscode/

# Build dependencies & artifact binaries
dist/
vendor/
batorment
batorment.exe

# Temporary & test data
.agent-cache/
.agent-check-result.json

# DuckDB database
*.db

# Arona AI formatted data
/data